<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279275881400-dt5c6qtuavq37ovbo8qvao3pjb5og04c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279275881400-dt5c6qtuavq37ovbo8qvao3pjb5og04c</string>
	<key>API_KEY</key>
	<string>AIzaSyDpFGkT8HlRaQaM8ntxN5e3VHtMIn3Saog</string>
	<key>GCM_SENDER_ID</key>
	<string>279275881400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hov.HouseOfVange</string>
	<key>PROJECT_ID</key>
	<string>house-of-vange-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>house-of-vange-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279275881400:ios:8924b90260b60ce736054d</string>
</dict>
</plist>